USE [BS]
GO
/****** Object:  Table [dbo].[BS_traQueueStylist]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_traQueueStylist](
	[StylistQueueID] [int] NOT NULL,
	[StylistUserID] [varchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Remarks] [varchar](500) NOT NULL,
 CONSTRAINT [PK_BS_traQueueStylist] PRIMARY KEY CLUSTERED 
(
	[StylistQueueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traQueueStylist] ([StylistQueueID], [StylistUserID], [CreatedDate], [Remarks]) VALUES (22, N'STYLIST 3', CAST(0x0000A65A00B9A513 AS DateTime), N'')
INSERT [dbo].[BS_traQueueStylist] ([StylistQueueID], [StylistUserID], [CreatedDate], [Remarks]) VALUES (24, N'STYLIST 5', CAST(0x0000A65A00B9A74C AS DateTime), N'')
INSERT [dbo].[BS_traQueueStylist] ([StylistQueueID], [StylistUserID], [CreatedDate], [Remarks]) VALUES (25, N'STYLIST 1', CAST(0x0000A65A00A4153A AS DateTime), N'')
/****** Object:  Table [dbo].[BS_traQueueInService]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traQueueInService](
	[ServiceID] [varchar](100) NOT NULL,
	[StylistUserID] [varchar](500) NOT NULL,
	[CustName] [varchar](500) NOT NULL,
	[CheckInDate] [datetime] NOT NULL,
	[CheckOutDate] [datetime] NULL,
	[IsCompleted] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedRemarks] [varchar](500) NOT NULL,
 CONSTRAINT [PK_BS_traQueueInService] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traQueueInService] ([ServiceID], [StylistUserID], [CustName], [CheckInDate], [CheckOutDate], [IsCompleted], [IsDeleted], [DeletedRemarks]) VALUES (N'S160805001', N'ALEX', N'CUST1', CAST(0x0000A65A00A73923 AS DateTime), NULL, 0, 0, N'')
INSERT [dbo].[BS_traQueueInService] ([ServiceID], [StylistUserID], [CustName], [CheckInDate], [CheckOutDate], [IsCompleted], [IsDeleted], [DeletedRemarks]) VALUES (N'S160806001', N'STYLIST 4', N'ANDI', CAST(0x0000A65900B05239 AS DateTime), NULL, 0, 0, N'')
INSERT [dbo].[BS_traQueueInService] ([ServiceID], [StylistUserID], [CustName], [CheckInDate], [CheckOutDate], [IsCompleted], [IsDeleted], [DeletedRemarks]) VALUES (N'S160806002', N'STYLIST 4', N'ANDI', CAST(0x0000A65A00A754B1 AS DateTime), NULL, 0, 0, N'')
/****** Object:  Table [dbo].[BS_traQueueCust]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_traQueueCust](
	[CustQueueID] [int] NOT NULL,
	[CustName] [varchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Remarks] [varchar](500) NOT NULL,
 CONSTRAINT [PK_BS_traQueueCust] PRIMARY KEY CLUSTERED 
(
	[CustQueueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traQueueCust] ([CustQueueID], [CustName], [CreatedDate], [Remarks]) VALUES (1, N'JHJH', CAST(0x0000A65F01010D5A AS DateTime), N'')
INSERT [dbo].[BS_traQueueCust] ([CustQueueID], [CustName], [CreatedDate], [Remarks]) VALUES (2, N'565656', CAST(0x0000A65F01010BDF AS DateTime), N'')
INSERT [dbo].[BS_traQueueCust] ([CustQueueID], [CustName], [CreatedDate], [Remarks]) VALUES (3, N'JJJKKJ', CAST(0x0000A65F01010F00 AS DateTime), N'')
/****** Object:  Table [dbo].[BS_traPaymentInDet]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traPaymentInDet](
	[PaymentInID] [varchar](100) NOT NULL,
	[PaymentDetDateTime] [datetime] NOT NULL,
	[ItemID] [varchar](100) NOT NULL,
	[ServiceID] [varchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BS_traPaymentInDet] PRIMARY KEY CLUSTERED 
(
	[PaymentInID] ASC,
	[PaymentDetDateTime] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traPaymentInDet] ([PaymentInID], [PaymentDetDateTime], [ItemID], [ServiceID], [Price], [Quantity], [TotalPrice]) VALUES (N'P160810001', CAST(0x0000A65E0121EDE0 AS DateTime), N'I-001', N'S160810001', CAST(20000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[BS_traPaymentInDet] ([PaymentInID], [PaymentDetDateTime], [ItemID], [ServiceID], [Price], [Quantity], [TotalPrice]) VALUES (N'P160810001', CAST(0x0000A65E0121F290 AS DateTime), N'I-002', N'S160810002', CAST(15000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[BS_traPaymentInDet] ([PaymentInID], [PaymentDetDateTime], [ItemID], [ServiceID], [Price], [Quantity], [TotalPrice]) VALUES (N'P160810001', CAST(0x0000A65E0121F614 AS DateTime), N'I-006', N'', CAST(5000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)))
/****** Object:  Table [dbo].[BS_traPaymentIn]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traPaymentIn](
	[PaymentInID] [varchar](100) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[TotalPayment] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BS_traPaymentIn] PRIMARY KEY CLUSTERED 
(
	[PaymentInID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traPaymentIn] ([PaymentInID], [PaymentDate], [TotalPayment], [IsDeleted], [CreatedBy]) VALUES (N'P160810001', CAST(0x0000A65E0121E804 AS DateTime), CAST(40000.00 AS Decimal(18, 2)), 1, N'')
INSERT [dbo].[BS_traPaymentIn] ([PaymentInID], [PaymentDate], [TotalPayment], [IsDeleted], [CreatedBy]) VALUES (N'P160810002', CAST(0x0000A65E01223430 AS DateTime), CAST(40000.00 AS Decimal(18, 2)), 0, N'')
INSERT [dbo].[BS_traPaymentIn] ([PaymentInID], [PaymentDate], [TotalPayment], [IsDeleted], [CreatedBy]) VALUES (N'P160810003', CAST(0x0000A65E012260B8 AS DateTime), CAST(8000.00 AS Decimal(18, 2)), 0, N'')
/****** Object:  Table [dbo].[BS_mstUserMenu]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_mstUserMenu](
	[SortNumber] [int] NOT NULL,
	[MenuID] [varchar](200) NOT NULL,
	[Remarks] [varchar](500) NULL,
 CONSTRAINT [PK_BS_mstUserMenu] PRIMARY KEY CLUSTERED 
(
	[SortNumber] ASC,
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstUserMenu] ([SortNumber], [MenuID], [Remarks]) VALUES (1, N'MASTER USER EDIT', N'NEW, DETAIL, DELETE, RESET')
INSERT [dbo].[BS_mstUserMenu] ([SortNumber], [MenuID], [Remarks]) VALUES (2, N'MASTER USER VIEW', N'DETAIL')
INSERT [dbo].[BS_mstUserMenu] ([SortNumber], [MenuID], [Remarks]) VALUES (3, N'MASTER USER GROUP EDIT', N'NEW, DETAIL, DELETE')
/****** Object:  Table [dbo].[BS_mstUserLocation]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserLocation](
	[LocationID] [varchar](10) NOT NULL,
	[LocationName] [varchar](500) NULL,
 CONSTRAINT [PK_BS_mstUserLocation] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstUserGroupDet]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserGroupDet](
	[UserGroupID] [varchar](200) NOT NULL,
	[MenuID] [varchar](200) NOT NULL,
 CONSTRAINT [PK_BS_mstUserGroupDet] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC,
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstUserGroupDet] ([UserGroupID], [MenuID]) VALUES (N'KASIR', N'MASTER USER GROUP VIEW')
INSERT [dbo].[BS_mstUserGroupDet] ([UserGroupID], [MenuID]) VALUES (N'KASIR', N'MASTER USER VIEW')
INSERT [dbo].[BS_mstUserGroupDet] ([UserGroupID], [MenuID]) VALUES (N'STYLIST', N'STYLIST')
/****** Object:  Table [dbo].[BS_mstUserGroup]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserGroup](
	[UserGroupID] [varchar](200) NOT NULL,
	[Remarks] [varchar](500) NULL,
	[CreatedBy] [varchar](30) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](30) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BS_mstUserGroup] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstUserGroup] ([UserGroupID], [Remarks], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'KASIR', N'', N'ALEXANDER.YEN', CAST(0x0000A65600EAE9C9 AS DateTime), N'', CAST(0x0000A65600EAE9C9 AS DateTime))
INSERT [dbo].[BS_mstUserGroup] ([UserGroupID], [Remarks], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'STYLIST', N'', N'ALEXANDER.YEN', CAST(0x0000A65600EBFE99 AS DateTime), N'', CAST(0x0000A65600EBFE99 AS DateTime))
INSERT [dbo].[BS_mstUserGroup] ([UserGroupID], [Remarks], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'SUPER ADMIN', N'FULL AKSES SEMUA MENU. MASTER USER, MASTER USER GROUP, NOTARY ORDER, PPAT ORDER, CERTIFICATE ORDER, PAYMENT IN, PAYMENT OUT, ADMIN FEE', N'ENDRA THASLIM', CAST(0x0000A55D00C32058 AS DateTime), N'ENDRA THASLIM', CAST(0x0000A55D00C3C918 AS DateTime))
/****** Object:  Table [dbo].[BS_mstUser]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUser](
	[LocationID] [varchar](10) NOT NULL,
	[UserID] [varchar](30) NOT NULL,
	[LocationName] [varchar](500) NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NULL,
	[UserPosition] [varchar](30) NULL,
	[BirthPlace] [varchar](100) NULL,
	[BirthDate] [smalldatetime] NULL,
	[Address] [varchar](500) NULL,
	[IDType] [varchar](100) NULL,
	[IDNumber] [varchar](100) NULL,
	[NPWPNumber] [varchar](100) NULL,
	[JamsostekID] [varchar](100) NULL,
	[NoHP] [varchar](50) NULL,
	[Remarks] [varchar](500) NULL,
	[StartWorkingDate] [smalldatetime] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UserGroupID] [varchar](200) NULL,
 CONSTRAINT [PK_BS_mstUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[LocationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstItem]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstItem](
	[ItemID] [varchar](100) NOT NULL,
	[ItemName] [varchar](500) NOT NULL,
	[BeginningPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[Remarks] [varchar](500) NOT NULL,
	[IsBarber] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](100) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BS_mstItem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstItem] ([ItemID], [ItemName], [BeginningPrice], [SellingPrice], [Remarks], [IsBarber], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'I-001', N'DEWASA', CAST(10000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), N'', 1, 0, N'', CAST(0x0000A65C010AABBE AS DateTime), N'', CAST(0x0000A65C010AABBE AS DateTime))
INSERT [dbo].[BS_mstItem] ([ItemID], [ItemName], [BeginningPrice], [SellingPrice], [Remarks], [IsBarber], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'I-002', N'REMAJA', CAST(7500.00 AS Decimal(18, 2)), CAST(15000.00 AS Decimal(18, 2)), N'', 1, 0, N'', CAST(0x0000A65C010AC996 AS DateTime), N'', CAST(0x0000A65C010AC996 AS DateTime))
INSERT [dbo].[BS_mstItem] ([ItemID], [ItemName], [BeginningPrice], [SellingPrice], [Remarks], [IsBarber], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'I-003', N'ANAK-ANAK', CAST(5000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), N'', 1, 0, N'', CAST(0x0000A65C010ADC33 AS DateTime), N'', CAST(0x0000A65C010ADC33 AS DateTime))
/****** Object:  Table [dbo].[BS_mstBackup]    Script Date: 08/11/2016 17:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstBackup](
	[UserID] [varchar](30) NOT NULL,
	[BackupDate] [smalldatetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__BS_mstBackup_UserID]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstBackup] ADD  CONSTRAINT [DF__BS_mstBackup_UserID]  DEFAULT ('SYSTEM') FOR [UserID]
GO
/****** Object:  Default [DF__BS_mstIte__Remar__571DF1D5]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  Default [DF__BS_mstIte__IsBar__5812160E]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ((1)) FOR [IsBarber]
GO
/****** Object:  Default [DF__BS_mstIte__IsDel__59063A47]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_mstIte__Creat__59FA5E80]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF__BS_mstIte__Creat__5AEE82B9]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_mstIte__Modif__5BE2A6F2]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [ModifiedBy]
GO
/****** Object:  Default [DF__BS_mstIte__Modif__5CD6CB2B]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF_BS_mstUser_StartWorkingDate]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF_BS_mstUser_StartWorkingDate]  DEFAULT (getdate()) FOR [StartWorkingDate]
GO
/****** Object:  Default [DF__BS_mstUser__CreatedDate]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser__CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_mstUser_ModifiedDate]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF__BS_mstUser__IsActive]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser__IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_BS_mstUserGroup_CreatedBy]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_CreatedBy]  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF_BS_mstUserGroup_CreatedDate]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF_BS_mstUserGroup_ModifiedBy]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_ModifiedBy]  DEFAULT ('') FOR [ModifiedBy]
GO
/****** Object:  Default [DF_BS_mstUserGroup_ModifiedDate]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF__BS_traPay__IsDel__6EF57B66]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traPaymentIn] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_traPay__Creat__6FE99F9F]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traPaymentIn] ADD  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF__BS_traQue__Creat__24927208]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traQueueCust] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_traQue__Remar__25869641]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traQueueCust] ADD  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  Default [DF__BS_traQue__IsCom__52593CB8]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
/****** Object:  Default [DF__BS_traQue__IsDel__534D60F1]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_traQue__Delet__5441852A]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ('') FOR [DeletedRemarks]
GO
/****** Object:  Default [DF__BS_traQue__Creat__4E88ABD4]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traQueueStylist] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_traQue__Remar__4F7CD00D]    Script Date: 08/11/2016 17:14:16 ******/
ALTER TABLE [dbo].[BS_traQueueStylist] ADD  DEFAULT ('') FOR [Remarks]
GO
