USE [BS]
GO
/****** Object:  Table [dbo].[BS_traQueueStylist]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_traQueueStylist](
	[StylistQueueID] [int] NOT NULL,
	[StylistUserID] [varchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_BS_traQueueStylist] PRIMARY KEY CLUSTERED 
(
	[StylistQueueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_traQueueInService]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traQueueInService](
	[ServiceID] [varchar](100) NOT NULL,
	[StylistUserID] [varchar](500) NOT NULL,
	[CustName] [varchar](500) NOT NULL,
	[CheckInDate] [datetime] NOT NULL,
	[CheckOutDate] [datetime] NULL,
	[IsCekOut] [bit] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedRemarks] [varchar](500) NOT NULL,
 CONSTRAINT [PK_BS_traQueueInService] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_traQueueCust]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_traQueueCust](
	[CustQueueID] [int] NOT NULL,
	[CustName] [varchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Remarks] [varchar](500) NOT NULL,
 CONSTRAINT [PK_BS_traQueueCust] PRIMARY KEY CLUSTERED 
(
	[CustQueueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_traPaymentInDet]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traPaymentInDet](
	[PaymentInID] [varchar](100) NOT NULL,
	[PaymentDetDateTime] [datetime] NOT NULL,
	[ItemID] [varchar](100) NOT NULL,
	[ServiceID] [varchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BS_traPaymentInDet] PRIMARY KEY CLUSTERED 
(
	[PaymentInID] ASC,
	[PaymentDetDateTime] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_traPaymentIn]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traPaymentIn](
	[PaymentInID] [varchar](100) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[TotalPayment] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Print] [int] NOT NULL,
	[CreatedBy] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BS_traPaymentIn] PRIMARY KEY CLUSTERED 
(
	[PaymentInID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstUserMenu]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_mstUserMenu](
	[SortNumber] [int] NOT NULL,
	[MenuID] [varchar](200) NOT NULL,
	[Remarks] [varchar](500) NULL,
 CONSTRAINT [PK_BS_mstUserMenu] PRIMARY KEY CLUSTERED 
(
	[SortNumber] ASC,
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstUserLocation]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserLocation](
	[LocationID] [varchar](10) NOT NULL,
	[LocationName] [varchar](500) NULL,
 CONSTRAINT [PK_BS_mstUserLocation] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstUserGroupDet]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserGroupDet](
	[UserGroupID] [varchar](200) NOT NULL,
	[MenuID] [varchar](200) NOT NULL,
 CONSTRAINT [PK_BS_mstUserGroupDet] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC,
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstUserGroup]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserGroup](
	[UserGroupID] [varchar](200) NOT NULL,
	[Remarks] [varchar](500) NULL,
	[CreatedBy] [varchar](30) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](30) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BS_mstUserGroup] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstUser]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUser](
	[LocationID] [varchar](10) NOT NULL,
	[UserID] [varchar](30) NOT NULL,
	[LocationName] [varchar](500) NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NULL,
	[UserPosition] [varchar](30) NULL,
	[BirthPlace] [varchar](100) NULL,
	[BirthDate] [smalldatetime] NULL,
	[Address] [varchar](500) NULL,
	[IDType] [varchar](100) NULL,
	[IDNumber] [varchar](100) NULL,
	[NPWPNumber] [varchar](100) NULL,
	[JamsostekID] [varchar](100) NULL,
	[NoHP] [varchar](50) NULL,
	[Remarks] [varchar](500) NULL,
	[StartWorkingDate] [smalldatetime] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UserGroupID] [varchar](200) NULL,
 CONSTRAINT [PK_BS_mstUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[LocationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstItem]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstItem](
	[ItemID] [varchar](100) NOT NULL,
	[ItemName] [varchar](500) NOT NULL,
	[BeginningPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[Remarks] [varchar](500) NOT NULL,
	[IsBarber] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](100) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BS_mstItem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstBackup]    Script Date: 08/15/2016 17:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstBackup](
	[UserID] [varchar](30) NOT NULL,
	[BackupDate] [smalldatetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__BS_mstBackup_UserID]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstBackup] ADD  CONSTRAINT [DF__BS_mstBackup_UserID]  DEFAULT ('SYSTEM') FOR [UserID]
GO
/****** Object:  Default [DF__BS_mstIte__Remar__571DF1D5]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  Default [DF__BS_mstIte__IsBar__5812160E]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ((1)) FOR [IsBarber]
GO
/****** Object:  Default [DF__BS_mstIte__IsDel__59063A47]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_mstIte__Creat__59FA5E80]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF__BS_mstIte__Creat__5AEE82B9]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_mstIte__Modif__5BE2A6F2]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [ModifiedBy]
GO
/****** Object:  Default [DF__BS_mstIte__Modif__5CD6CB2B]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF_BS_mstUser_StartWorkingDate]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF_BS_mstUser_StartWorkingDate]  DEFAULT (getdate()) FOR [StartWorkingDate]
GO
/****** Object:  Default [DF__BS_mstUser__CreatedDate]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser__CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_mstUser_ModifiedDate]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF__BS_mstUser__IsActive]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser__IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_BS_mstUserGroup_CreatedBy]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_CreatedBy]  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF_BS_mstUserGroup_CreatedDate]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF_BS_mstUserGroup_ModifiedBy]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_ModifiedBy]  DEFAULT ('') FOR [ModifiedBy]
GO
/****** Object:  Default [DF_BS_mstUserGroup_ModifiedDate]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF__BS_traPay__IsDel__7E37BEF6]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traPaymentIn] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_traPay__Print__7F2BE32F]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traPaymentIn] ADD  DEFAULT ((1)) FOR [Print]
GO
/****** Object:  Default [DF__BS_traPay__Creat__00200768]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traPaymentIn] ADD  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF__BS_traQue__Creat__24927208]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traQueueCust] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_traQue__Remar__25869641]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traQueueCust] ADD  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  Default [DF__BS_traQue__IsCek__74AE54BC]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ((0)) FOR [IsCekOut]
GO
/****** Object:  Default [DF__BS_traQue__IsPai__75A278F5]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
/****** Object:  Default [DF__BS_traQue__IsDel__76969D2E]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_traQue__Delet__778AC167]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ('') FOR [DeletedRemarks]
GO
/****** Object:  Default [DF__BS_traQue__Creat__7A672E12]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traQueueStylist] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_traQue__IsAva__7B5B524B]    Script Date: 08/15/2016 17:05:57 ******/
ALTER TABLE [dbo].[BS_traQueueStylist] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
