USE [master]
GO
/****** Object:  Database [BS]    Script Date: 08/20/2016 11:53:46 ******/
CREATE DATABASE [BS] ON  PRIMARY 
( NAME = N'BS', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\BS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BS_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\BS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BS]
GO
/****** Object:  Table [dbo].[BS_traQueueStylist]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_traQueueStylist](
	[StylistQueueID] [int] NOT NULL,
	[StylistUserID] [varchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_BS_traQueueStylist] PRIMARY KEY CLUSTERED 
(
	[StylistQueueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traQueueStylist] ([StylistQueueID], [StylistUserID], [CreatedDate], [IsAvailable]) VALUES (2, N'GATOT', CAST(0x0000A66701154E54 AS DateTime), 1)
INSERT [dbo].[BS_traQueueStylist] ([StylistQueueID], [StylistUserID], [CreatedDate], [IsAvailable]) VALUES (3, N'DANNY', CAST(0x0000A66701154BF8 AS DateTime), 1)
INSERT [dbo].[BS_traQueueStylist] ([StylistQueueID], [StylistUserID], [CreatedDate], [IsAvailable]) VALUES (4, N'ADI', CAST(0x0000A6670115451A AS DateTime), 1)
/****** Object:  Table [dbo].[BS_traQueueInService]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traQueueInService](
	[ServiceID] [varchar](100) NOT NULL,
	[StylistUserID] [varchar](500) NOT NULL,
	[CustName] [varchar](500) NOT NULL,
	[CheckInDate] [datetime] NOT NULL,
	[CheckOutDate] [datetime] NULL,
	[IsCekOut] [bit] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedRemarks] [varchar](500) NOT NULL,
 CONSTRAINT [PK_BS_traQueueInService] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traQueueInService] ([ServiceID], [StylistUserID], [CustName], [CheckInDate], [CheckOutDate], [IsCekOut], [IsPaid], [IsDeleted], [DeletedRemarks]) VALUES (N'S160819001', N'ADI', N'ALEX', CAST(0x0000A66701155873 AS DateTime), CAST(0x0000A66701156D69 AS DateTime), 1, 1, 0, N'')
INSERT [dbo].[BS_traQueueInService] ([ServiceID], [StylistUserID], [CustName], [CheckInDate], [CheckOutDate], [IsCekOut], [IsPaid], [IsDeleted], [DeletedRemarks]) VALUES (N'S160819002', N'ARO', N'ADI', CAST(0x0000A6670116A44F AS DateTime), CAST(0x0000A6670117265B AS DateTime), 1, 1, 0, N'')
INSERT [dbo].[BS_traQueueInService] ([ServiceID], [StylistUserID], [CustName], [CheckInDate], [CheckOutDate], [IsCekOut], [IsPaid], [IsDeleted], [DeletedRemarks]) VALUES (N'S160819003', N'DANNY', N'DANI', CAST(0x0000A6670116A852 AS DateTime), CAST(0x0000A6670118E75B AS DateTime), 1, 1, 0, N'')
/****** Object:  Table [dbo].[BS_traQueueCust]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_traQueueCust](
	[CustQueueID] [int] NOT NULL,
	[CustName] [varchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Remarks] [varchar](500) NOT NULL,
 CONSTRAINT [PK_BS_traQueueCust] PRIMARY KEY CLUSTERED 
(
	[CustQueueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traQueueCust] ([CustQueueID], [CustName], [CreatedDate], [Remarks]) VALUES (12, N'SANDY', CAST(0x0000A66800BB7479 AS DateTime), N'')
/****** Object:  Table [dbo].[BS_traPaymentInDet]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traPaymentInDet](
	[PaymentInID] [varchar](100) NOT NULL,
	[PaymentDetDateTime] [datetime] NOT NULL,
	[ItemID] [varchar](100) NOT NULL,
	[ServiceID] [varchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BS_traPaymentInDet] PRIMARY KEY CLUSTERED 
(
	[PaymentInID] ASC,
	[PaymentDetDateTime] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traPaymentInDet] ([PaymentInID], [PaymentDetDateTime], [ItemID], [ServiceID], [Price], [Quantity], [TotalPrice]) VALUES (N'P160819001', CAST(0x0000A6670116163C AS DateTime), N'I-001', N'S160819001', CAST(20000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[BS_traPaymentInDet] ([PaymentInID], [PaymentDetDateTime], [ItemID], [ServiceID], [Price], [Quantity], [TotalPrice]) VALUES (N'P160819001', CAST(0x0000A667011621F4 AS DateTime), N'I-017', N'', CAST(4000.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(8000.00 AS Decimal(18, 2)))
INSERT [dbo].[BS_traPaymentInDet] ([PaymentInID], [PaymentDetDateTime], [ItemID], [ServiceID], [Price], [Quantity], [TotalPrice]) VALUES (N'P160819001', CAST(0x0000A66701162ED8 AS DateTime), N'I-018', N'', CAST(5000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)))
/****** Object:  Table [dbo].[BS_traPaymentIn]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_traPaymentIn](
	[PaymentInID] [varchar](100) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[TotalPayment] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Print] [int] NOT NULL,
	[CreatedBy] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BS_traPaymentIn] PRIMARY KEY CLUSTERED 
(
	[PaymentInID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_traPaymentIn] ([PaymentInID], [PaymentDate], [TotalPayment], [IsDeleted], [Print], [CreatedBy]) VALUES (N'P160819001', CAST(0x0000A66701161060 AS DateTime), CAST(33000.00 AS Decimal(18, 2)), 0, 2, N'ADMIN')
INSERT [dbo].[BS_traPaymentIn] ([PaymentInID], [PaymentDate], [TotalPayment], [IsDeleted], [Print], [CreatedBy]) VALUES (N'P160819002', CAST(0x0000A6670118779C AS DateTime), CAST(20000.00 AS Decimal(18, 2)), 0, 1, N'ADMIN')
INSERT [dbo].[BS_traPaymentIn] ([PaymentInID], [PaymentDate], [TotalPayment], [IsDeleted], [Print], [CreatedBy]) VALUES (N'P160819003', CAST(0x0000A6670118AC58 AS DateTime), CAST(19000.00 AS Decimal(18, 2)), 0, 1, N'ADMIN')
/****** Object:  Table [dbo].[BS_mstUserMenu]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BS_mstUserMenu](
	[SortNumber] [int] NOT NULL,
	[MenuID] [varchar](200) NOT NULL,
	[Remarks] [varchar](500) NULL,
 CONSTRAINT [PK_BS_mstUserMenu] PRIMARY KEY CLUSTERED 
(
	[SortNumber] ASC,
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstUserMenu] ([SortNumber], [MenuID], [Remarks]) VALUES (1, N'MASTER USER EDIT', N'NEW, DETAIL, DELETE, RESET')
INSERT [dbo].[BS_mstUserMenu] ([SortNumber], [MenuID], [Remarks]) VALUES (2, N'MASTER USER GROUP EDIT', N'NEW, DETAIL, DELETE')
INSERT [dbo].[BS_mstUserMenu] ([SortNumber], [MenuID], [Remarks]) VALUES (3, N'MASTER ITEM EDIT', N'NEW, DETAIL, DELETE')
/****** Object:  Table [dbo].[BS_mstUserLocation]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserLocation](
	[LocationID] [varchar](10) NOT NULL,
	[LocationName] [varchar](500) NULL,
 CONSTRAINT [PK_BS_mstUserLocation] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstUserGroupDet]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserGroupDet](
	[UserGroupID] [varchar](200) NOT NULL,
	[MenuID] [varchar](200) NOT NULL,
 CONSTRAINT [PK_BS_mstUserGroupDet] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC,
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstUserGroupDet] ([UserGroupID], [MenuID]) VALUES (N'KASIR', N'REPORT PROFIT VIEW')
INSERT [dbo].[BS_mstUserGroupDet] ([UserGroupID], [MenuID]) VALUES (N'KASIR', N'REPORT STYLIST FEE VIEW')
INSERT [dbo].[BS_mstUserGroupDet] ([UserGroupID], [MenuID]) VALUES (N'KASIR', N'TRANSACTION PAYMENT IN EDIT')
/****** Object:  Table [dbo].[BS_mstUserGroup]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUserGroup](
	[UserGroupID] [varchar](200) NOT NULL,
	[Remarks] [varchar](500) NULL,
	[CreatedBy] [varchar](30) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](30) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BS_mstUserGroup] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstUserGroup] ([UserGroupID], [Remarks], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'KASIR', N'UNTUK KASIR', N'ALEXANDER.YEN', CAST(0x0000A65600EAE9C9 AS DateTime), N'ADMIN', CAST(0x0000A66800C24338 AS DateTime))
INSERT [dbo].[BS_mstUserGroup] ([UserGroupID], [Remarks], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'STYLIST', N'STYLIST', N'ALEXANDER.YEN', CAST(0x0000A65600EBFE99 AS DateTime), N'ADMIN', CAST(0x0000A66800C24BBD AS DateTime))
INSERT [dbo].[BS_mstUserGroup] ([UserGroupID], [Remarks], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'SUPER ADMIN', N'FULL AKSES SEMUA MENU', N'ENDRA THASLIM', CAST(0x0000A55D00C32058 AS DateTime), N'ADMIN', CAST(0x0000A66800C22E2B AS DateTime))
/****** Object:  Table [dbo].[BS_mstUser]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstUser](
	[LocationID] [varchar](10) NOT NULL,
	[UserID] [varchar](30) NOT NULL,
	[LocationName] [varchar](500) NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NULL,
	[UserPosition] [varchar](30) NULL,
	[BirthPlace] [varchar](100) NULL,
	[BirthDate] [smalldatetime] NULL,
	[Address] [varchar](500) NULL,
	[IDType] [varchar](100) NULL,
	[IDNumber] [varchar](100) NULL,
	[NPWPNumber] [varchar](100) NULL,
	[JamsostekID] [varchar](100) NULL,
	[NoHP] [varchar](50) NULL,
	[Remarks] [varchar](500) NULL,
	[StartWorkingDate] [smalldatetime] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UserGroupID] [varchar](200) NULL,
 CONSTRAINT [PK_BS_mstUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[LocationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BS_mstItem]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstItem](
	[ItemID] [varchar](100) NOT NULL,
	[ItemName] [varchar](500) NOT NULL,
	[AltName] [varchar](100) NOT NULL,
	[BeginningPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[Remarks] [varchar](500) NOT NULL,
	[IsBarber] [bit] NULL,
	[IsAdd] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](100) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BS_mstItem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstItem] ([ItemID], [ItemName], [AltName], [BeginningPrice], [SellingPrice], [Remarks], [IsBarber], [IsAdd], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'I-001', N'DEWASA', N'D', CAST(10000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), N'EFEKTIF 1/12/2014', 1, 0, 0, N'ADMIN', CAST(0x0000A66700F87E10 AS DateTime), N'ADMIN', CAST(0x0000A66700FA45EC AS DateTime))
INSERT [dbo].[BS_mstItem] ([ItemID], [ItemName], [AltName], [BeginningPrice], [SellingPrice], [Remarks], [IsBarber], [IsAdd], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'I-002', N'REMAJA', N'R', CAST(8000.00 AS Decimal(18, 2)), CAST(16000.00 AS Decimal(18, 2)), N'', 1, 0, 0, N'ADMIN', CAST(0x0000A66700F88E78 AS DateTime), N'', CAST(0x0000A66700F88E78 AS DateTime))
INSERT [dbo].[BS_mstItem] ([ItemID], [ItemName], [AltName], [BeginningPrice], [SellingPrice], [Remarks], [IsBarber], [IsAdd], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'I-003', N'ANAK-ANAK', N'A', CAST(6500.00 AS Decimal(18, 2)), CAST(13000.00 AS Decimal(18, 2)), N'', 1, 0, 0, N'ADMIN', CAST(0x0000A66700F8B074 AS DateTime), N'', CAST(0x0000A66700F8B074 AS DateTime))
/****** Object:  Table [dbo].[BS_mstBackup]    Script Date: 08/20/2016 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BS_mstBackup](
	[UserID] [varchar](30) NOT NULL,
	[BackupDate] [smalldatetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BS_mstBackup] ([UserID], [BackupDate]) VALUES (N'ADMIN', CAST(0xA65E0000 AS SmallDateTime))
INSERT [dbo].[BS_mstBackup] ([UserID], [BackupDate]) VALUES (N'SYSTEM', CAST(0xA66702C8 AS SmallDateTime))
/****** Object:  Default [DF__BS_traQue__Creat__7A672E12]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traQueueStylist] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_traQue__IsAva__7B5B524B]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traQueueStylist] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
/****** Object:  Default [DF__BS_traQue__IsCek__74AE54BC]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ((0)) FOR [IsCekOut]
GO
/****** Object:  Default [DF__BS_traQue__IsPai__75A278F5]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
/****** Object:  Default [DF__BS_traQue__IsDel__76969D2E]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_traQue__Delet__778AC167]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traQueueInService] ADD  DEFAULT ('') FOR [DeletedRemarks]
GO
/****** Object:  Default [DF__BS_traQue__Creat__24927208]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traQueueCust] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_traQue__Remar__25869641]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traQueueCust] ADD  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  Default [DF__BS_traPay__IsDel__7E37BEF6]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traPaymentIn] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_traPay__Print__7F2BE32F]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traPaymentIn] ADD  DEFAULT ((1)) FOR [Print]
GO
/****** Object:  Default [DF__BS_traPay__Creat__00200768]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_traPaymentIn] ADD  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF_BS_mstUserGroup_CreatedBy]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_CreatedBy]  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF_BS_mstUserGroup_CreatedDate]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF_BS_mstUserGroup_ModifiedBy]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_ModifiedBy]  DEFAULT ('') FOR [ModifiedBy]
GO
/****** Object:  Default [DF_BS_mstUserGroup_ModifiedDate]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstUserGroup] ADD  CONSTRAINT [DF_BS_mstUserGroup_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF_BS_mstUser_StartWorkingDate]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF_BS_mstUser_StartWorkingDate]  DEFAULT (getdate()) FOR [StartWorkingDate]
GO
/****** Object:  Default [DF__BS_mstUser__CreatedDate]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser__CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_mstUser_ModifiedDate]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF__BS_mstUser__IsActive]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstUser] ADD  CONSTRAINT [DF__BS_mstUser__IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__BS_mstIte__AltNa__0C85DE4D]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [AltName]
GO
/****** Object:  Default [DF__BS_mstIte__Remar__0D7A0286]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  Default [DF__BS_mstIte__IsBar__0E6E26BF]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ((1)) FOR [IsBarber]
GO
/****** Object:  Default [DF__BS_mstIte__IsAdd__10566F31]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ((0)) FOR [IsAdd]
GO
/****** Object:  Default [DF__BS_mstIte__IsDel__0F624AF8]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF__BS_mstIte__Creat__114A936A]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [CreatedBy]
GO
/****** Object:  Default [DF__BS_mstIte__Creat__123EB7A3]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__BS_mstIte__Modif__1332DBDC]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT ('') FOR [ModifiedBy]
GO
/****** Object:  Default [DF__BS_mstIte__Modif__14270015]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstItem] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF__BS_mstBackup_UserID]    Script Date: 08/20/2016 11:53:47 ******/
ALTER TABLE [dbo].[BS_mstBackup] ADD  CONSTRAINT [DF__BS_mstBackup_UserID]  DEFAULT ('SYSTEM') FOR [UserID]
GO
